.footer{
    margin: 15px;
    min-height: 136px;
}

.footer div {
    font-style: italic;
    margin-bottom: 5px;
}

.footer div label {
    margin-left: 10px;
}

.footer div p {
    margin: 0px;
}

.footer h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}